<%# editでツイート編集ページにアクセスし編集する。送信ボタンを押すとテーブルにデータを保存するためにupdateアクションに跳ぶ。 %>
<div class="contents row">
  <div class="container">
    <h3>編集する</h3>
      <%= render partial: "form", locals: {tweet: @tweet} %>
      <%# フォーム部分を部分テンプレートに記述 %>
  </div>
</div>