<%# 検索フォームの追加 %>
<%= form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%# パラメーターに"keyword"=>"フォームに入力した値"を含む %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<%# contentsクラスのdivの中に@tweetsで取得した全てのレコードを表示している %>
<div class="contents row">
  <%# <% @tweets.each do |tweet| %>
  <%# @tweetsで取得したレコード1つ1つをeach文で取り出して、ブロック変数tweetに入れている %>
    <%# render pattial: "部分テンプレート名", locals: {部分テンプレートで使用したい変数名: 渡したい変数に入っているもの(ブロック変数tweetの値)} %>
    
    <%= render @tweets %>
    <%# render partial: "部分テンプレート名(部分テンプレート内で使用する変数名にもなる)", collection: @複数のデータが入っているインスタンス変数名
    上記のように記述すると、指定したインスタンス変数の中にある要素の数だけ部分テンプレートが繰り返し表示される。 
    また、以下3つの条件が揃うと、  render @tweets で記述できる。
    ・呼び出す部分テンプレートがviewsフォルダ内にあるtweetsフォルダにある。
    ・部分テンプレート名が_tweet.html.erbである
    ・部分テンプレート内で使う変数がtweetである
    %>

  <%# <% end  %>
</div>