<div class="contents row">
  <div class="container">
  <%# 投稿ページをcontainerクラスのdivで囲う %>
    <h3>投稿する</h3>
      <%= render partial: "form", locals: {tweet: @tweet} %>
      <%# form部分を部分テンプレートに記述 %>
  </div>
</div>